<%- include public/header %>
<% if(user){%>
<script>
location.href = '/room/<%= user.uid%>';	
</script>
<%} else {%>
<div class="login-box">
	<img class="workes" src="images/works/2.png">
	<div class="f24 title c_red">你画我猜</div>
	<input type="text" name="user" class="f18 name" placeholder="请输入昵称">
	<input type="button" class="f18 c_fff btn" value="进入游戏">
</div>
<script>
$(function(){
	var $name = $('input.name');
	var $btn = $('input.btn');

	$btn.click(function(){
		var val = $name.val();
		if(val == ''){
			alert('请填写昵称！')
		}

		$.ajax({
			url: '/login',
			method: 'post',
			data: {
				user: val
			},
			success: function(data){
				if(data.status == 'success'){
					location.href = '/room/' + data.data.uid;
				}
			}
		})
	})
});	
</script>
<%}%>
<%- include public/footer %>
